@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'poppins_semibold';
    src: url('../../public/font/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'poppins_medium';
    src: url('../../public/font/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'poppins_regular';
    src: url('../../public/font/Poppins-Regular.ttf');
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;    
}